.feed {
  border-right: 2px solid var(--border-color);
  /* max-width: 600px; */
  /* min-width: fit-content; */
  overflow-x: scroll;
  width: 600px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed__header {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.feed__header__title {
  font-size: 20px;
  font-weight: 700;
}
