.feed {
  border-right: 2px solid var(--border-color);
  max-width: 600px;
  overflow-x: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed__header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.feed__header__title {
  font-size: 20px;
  font-weight: 700;
}

.feed__header__icon {
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px !important;
  padding: 8px;
}

.feed__header__icon:hover {
  background-color: var(--linkHover-color);
  transition: background-color 100ms ease-out;
}
