.trends {
  color: inherit;
  display: block;
  position: relative;
  text-decoration: none;
}

.trends:hover {
  background-color: var(--linkHover-color);
  transition: background-color 100ms ease-out;
}

.trends__header {
  margin-left: 18px;
}

.trends__category {
  color: var(--textGrey-color);
  font-size: 13px;
  margin-top: 0;
  padding-top: 8px;
}

.trends__title {
  font-size: 16px;
  font-weight: bold;
  margin: 3px 0;
}

.trends__tweets {
  color: var(--textGrey-color);
  font-size: 13px;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.trends__option {
  border-radius: 50px;
  color: var(--textGrey-color);
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.trends__option:hover {
  background-color: rgba(94, 164, 234, 0.151);
  color: rgb(94, 163, 234);
  cursor: pointer;
  transition: all 100ms ease-out;
}
