.sidebarOption {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.sidebarOption:hover {
  background-color: #e7e7e8;
  border-radius: 30px;
  transition: background-color 100ms ease-out;
}

.sidebarOption--active > .sidebarOption__text {
  font-weight: 700;
}

.sidebarOption__icon {
  padding: 20px;
}

.sidebarOption__text {
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
}
