.sidebarOption {
  align-items: center;
  border-radius: 30px;
  color: inherit;
  cursor: pointer;
  display: flex;
  text-decoration: none;
}

.sidebarOption:hover {
  background-color: #e7e7e8;
  transition: 100ms ease-out;
}

.sidebarOption--active > .sidebarOption__text {
  font-weight: 700;
}

.sidebarOption__icon {
  padding: 12px;
  font-size: 28px !important;
}

.sidebarOption__text {
  font-weight: 400;
  font-size: 20px;
  margin-left: 10px;
}
