.post {
  align-items: flex-start;
  border-bottom: 2px solid var(--border-color);
  display: flex;
  padding-bottom: 10px;
}

.post__avatar > img {
  border-radius: 50px;
  height: 50px;
  margin: 10px 10px 0;
  object-fit: cover;
  width: 50px;
}

.post__body {
  flex: 1;
  padding: 10px 15px 10px 0;
  position: relative;
}

.post__body__option {
  border-radius: 50px;
  color: gray;
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.post__body__option:hover {
  background-color: rgba(94, 164, 234, 0.151);
  color: rgb(94, 163, 234);
  transition: all 100ms ease-out;
}

.post__body__header {
}

.post__body__header__information {
}

.post__body__header__information__user {
  font-size: 15px;
  font-weight: 600;
  color: grey;
}

.post__body__header__information__badge {
  color: var(--twitter-color);
  font-size: 20px !important;
  margin: 0 4px;
  vertical-align: bottom;
}

.post__body__header__text {
  font-size: 15px;
  margin-bottom: 10px;
}

.post__body > img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
}

.post__body__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  max-width: 450px;
}

.post__body__footer__icon {
  border-radius: 50px;
  color: grey;
  cursor: pointer;
  font-size: 20px !important;
  padding: 8px;
}

.post__body__footer__icon:nth-child(1):hover {
  background-color: rgba(94, 164, 234, 0.151);
  color: rgb(94, 163, 234);
  transition: all 100ms ease-out;
}

.post__body__footer__icon:nth-child(2):hover {
  background-color: rgba(138, 204, 168, 0.151);
  color: rgb(138, 204, 168);
  transition: all 100ms ease-out;
}

.post__body__footer__icon:nth-child(3):hover {
  background-color: rgba(231, 78, 139, 0.151);
  color: rgb(231, 78, 140);
  transition: all 100ms ease-out;
}

.post__body__footer__icon:nth-child(4):hover {
  background-color: rgba(94, 164, 234, 0.151);
  color: rgb(94, 163, 234);
  transition: all 100ms ease-out;
}
